body {
       font-family: Roboto, sans-serif;
       color: #434455;
       background-color: #ffffff;
}
       
.logo {
   font-family: Raleway;
   font-size: 18px;
}   

.reference {
   font-family: Roboto;
   font-size: 16px;
}

.contakt {
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.button-menu {

}

.iris {
  color: #4D5AE5
}

.ocean {
   color: #4D5AE5;
}

.navy-blue {
   color: #2E2F42;
}

.green {
   color: #31D0AA;
}

.slate {
   color: #434455
}

.light-slate {
   color: #8E8F99
}

.cornflower {
   color: #E7E9FC
}

.cloud {
   color: #F4F4FD
}

.navy-blue-modal {
   color: #2E2F42
}

.grey {
   color: #2E2F42
}

.white { 
   color: #ffffff
}

.dairy {
   color: #fcfcfc
}