body {
       font-family: 'Roboto', sans-serif;
}

    .button-properietes {
        .button-properietes: focus;
        .button-properietes: :hover;
        color: aqua;

    }

    .header {
       color: var(--NAVY-BLUE, #2E2F42);
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;
       line-height: 24px; /* 150% */
       letter-spacing: 0.32px;
    }

    .contact {
       text-decoration: none;
       color: var(--IRIS, #4D5AE5);
       font-family: Raleway;       
       font-size: 18px;
       line-height: 21px; /* 116.667% */
       letter-spacing: 0.54px;
       text-transform: uppercase;
    }


    color: var(--IRIS, #4D5AE5);
       font-family: Raleway;
       font-size: 18px;
       font-style: normal;
       font-weight: 800;
       line-height: 21px; /* 116.667% */
       letter-spacing: 0.54px;
       text-transform: uppercase;