body {
       font-family: Roboto, sans-serif;
       color: #434455;
       background-color: #ffffff;
}

:root {
   --iris-color: #4D5AE5;  
   --ocean-color: #404BBF;
   --navy-blue-color: #2E2F42;   
   --green-color: #31D0AA;
   --slate-color: #434455;
   --light-slate-color: #8E8F99;
   --cornflower-color: #E7E9FC;
   --cloud-color: #F4F4FD;
   --navy-blue-modal-color: #2E2F42;
   --grey-color: #2E2F42;
   --white-color: #ffffff;
   --dairy-color: #fcfcfc;
   }
       
.main-navigation {
   background-color: var(--white-color);
}

.logo {
   font-family: Raleway, sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;          
   color: #4d5ae5;
   font-style: normal;
}   

.link {
   text-decoration: none;
}
.logo-span-header {
   font-family: Raleway, sans-serif;
   color: #2E2F42;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   text-decoration: none;
}

.main-navigation-links {
   color: #2E2F42;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.32px;
   
}

.contact {
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
   text-decoration: none
}

.button-menu {
background-color: var(--white-color);
color: var(--iris-color);
}

.button-text {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
}

.cursor {
cursor: pointer;
}

.button-text:hover {
   color: #FFFFFF;
   background-color: #404BBF;
}

.button-text:focus {
     color: #FFFFFF;
     background-color: #404BBF;
}



.list {
   list-style: none;
}

.logo-span-footer {
   font-family: Raleway, sans-serif;
   color: #F4F4FD;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   }

.footer-background {
   background-color: #2E2F42;
}
.footer-text {
   color: #F4F4FD;
}

.section-1 {
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
text-align: center;
color: var(--white-color);
background-color: #2E2F42;
}